Package: yamada-modbus-monitor
Version: 1.0-1
Section: utils
Priority: optional
Architecture: armhf
Maintainer: ZuschH <your@email.com>
Description: High-performance Modbus monitor with dialog interface
